<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="color-picker-control" attributes="displayName">
  <template>
    <style>
      .left,
      .right {
        width: 45%;
        margin: 0 2%;
        position: absolute;
        height: 100%;
      }
      .left {
        left: 2%;
      }
      .right {
        right: 2%;
      }
      /*Light Control*/

      .slider,
      .preview,
      .on_off {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
      .slider {
        width: 96%;
        height: 15%;
        margin: 10% 0;
      }
      .red_gradient {
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(244, 67, 54, 1));
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(244, 67, 54, 1));
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(244, 67, 54, 1));
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(244, 67, 54, 1));
        background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(244, 67, 54, 1));
      }
      .green_gradient {
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(76, 175, 80, 1));
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(76, 175, 80, 1));
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(76, 175, 80, 1));
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(76, 175, 80, 1));
        background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(76, 175, 80, 1));
      }
      .blue_gradient {
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(33, 150, 243, 1));
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(33, 150, 243, 1));
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 1), rgba(33, 150, 243, 1));
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(33, 150, 243, 1));
        background-image: linear-gradient(left, rgba(255, 255, 255, 1), rgba(33, 150, 243, 1));
      }
      .brightness_gradient {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
        background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
        background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
        background-image: linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
      }
      .slider div {
        width: 100%;
        text-align: center;
        position: relative;
        top: 35%;
      }
      .preview,
      .on_off {
        margin: 8% auto;
        height: 40%;
        width: 56%;
        border-radius: 50%;
      }
      .preview {
        cursor: default;
        background-color: #FFFFFF;
      }
      .on_off {
        background: #009688;
      }
      .on_off div {
        font-size: 200%;
        width: 100%;
        text-align: center;
        position: relative;
        top: 30%;
      }
      .rainbow{
        position: absolute;
        top: 44%;
        right: 10px;
        padding: 25px;
        color: #FFF;
        border-radius: 50%;
        cursor:pointer;
        background: #000;
      }
      .rainbow:hover, .rainbowFiling{
        background-image: -webkit-gradient(linear,  left top,  left bottom, 
          color-stop(0.00, red), 
          color-stop(16%, orange),
          color-stop(32%, yellow),
          color-stop(48%, green),
          color-stop(60%, blue),
          color-stop(76%, indigo),
          color-stop(1.00, violet));
      }
    </style>
    <div class="control">
      <div class="left">
        {{displayName}}
        <div id="slider_red" class="slider red_gradient" on-click="{{LightClick}}">
          <div>RED</div>
        </div>
        <div id="slider_green" class="slider green_gradient" on-click="{{LightClick}}">
          <div>GREEN</div>
        </div>
        <div id="slider_blue" class="slider blue_gradient" on-click="{{LightClick}}">
          <div>BLUE</div>
        </div>
        <div id="slider_light" class="slider brightness_gradient" on-click="{{LightClick}}">
          <div>LIGHT</div>
        </div>
      </div>
      <div class="right">
        <div id="preview" class="preview"></div>
        <div id="rainbow" class="rainbow" on-click="{{RainbowClick}}">...</div>
        <div class="on_off" on-click="{{OnOffClick}}">
          <div>ON/
            <br/>OFF</div>
        </div>
      </div>
    </div>
  </template>
  <script>
    var red = 254,
        green = 254,
        blue = 254,
        br = 100;
    var on = true,
        rainbow = true;

    Polymer({
      LightClick: function(event, detail, sender) {
        var value = (event.clientX - (event.target.offsetParent.offsetLeft + event.target.offsetParent.offsetParent.offsetLeft))/event.target.clientWidth;

        if(rainbow){
            rainbow= false;
            this.fire('valueChanged', {red: red, green: green, blue: blue, br: 0});
            this.$.preview.className = "preview";
        }

        switch(sender.id){
          case 'slider_red':
            red = Math.round(255*value);
            break;
          case 'slider_green':
            green = Math.round(255*value);
            break;
          case 'slider_blue':
            blue = Math.round(255*value);
            break;
          case 'slider_light':
            br = Math.round(100*value);
            break;
        }
        this.fire('valueChanged', {red: red, green: green, blue: blue, br: br});
        
        //Update preview:
        console.log("rgb("+red+","+green+","+blue+")");
        this.$.preview.style.backgroundColor = "rgb("+red+","+green+","+blue+")";
        this.$.preview.style.opacity = br;
      },
      OnOffClick: function(event, detail, sender){
        if(on){
          this.fire('valueChanged', {red: red, green: green, blue: blue, br: 0});
          on = false;
        }else{          
          this.fire('valueChanged', {red: red, green: green, blue: blue, br: br});
          on = true;
        }
      },
      RainbowClick: function(event, detail, sender){
        this.fire('valueChanged', {red: -1, green: -1, blue: -1, br: -1});
        rainbow = true;
        this.$.preview.className = "preview rainbowFiling";
      }
    });

  </script>
</polymer-element>
