<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="controls-view" attributes="plugins">
  <template>
    <div id="controls">
    </div>
  </template>
  <script>
    Polymer({
      plugins: [],
      controlElements: [],
      currentControl: 0,
      ready: function() {

      },
      pluginsChanged: function(oldValue, newValue) {
        var controlsElement = this.$.controls;
        controlsElement.innerHTML = "";
        newValue.forEach(function(plugin) {
          for (var key in plugin.controls) {
            if (!plugin.controls[key].type) {
              continue;
            }
            var elementTag = plugin.controls[key].type + '-control';
            // console.log('create ' + elementTag + ' for ' + key);
            var controlElement = document.createElement(elementTag);
            controlElement.setAttribute('displayName', plugin.controls[key]['display-name']);

            controlsElement.appendChild(controlElement);

            var functionName = key + 'Changed';
            if (typeof plugin[functionName] == 'function') {
              controlElement.addEventListener('valueChanged', function(e) {
                plugin[functionName](e);
              });
            }
            this.controlElements.push(controlElement);
            controlElement.style.display = 'none';
          }
        }, this);
        this.controlElements[this.currentControl].style.display = 'block';
      },
      selectPreviousControl: function(){
        this.controlElements[this.currentControl].style.display = 'none';
        --this.currentControl;
        if (this.currentControl < 0){
          this.currentControl = this.controlElements.length - 1;
        }
        this.controlElements[this.currentControl].style.display = 'block';
      },
      selectNextControl: function(){
        this.controlElements[this.currentControl].style.display = 'none';
        ++this.currentControl;
        if (this.currentControl >= this.controlElements.length){
          this.currentControl = 0;
        }
        this.controlElements[this.currentControl].style.display = 'block';
      },
    });
  </script>
</polymer-element>
