<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="launchpad-control" attributes="displayName">
<template>
  <style>
    #container{
      width: 100%;
      height: 100%;
      position: relative;
      background: yellow;
    }
    .launchpad_case{
      width: 20%;
      height: 20%;
      margin: 2%;
    }
  </style>

  <div class="control">
    <div id="container">
      <div class="launchpad_case" id="lp_1"></div>aaaa
      <div class="launchpad_case" id="lp_2"></div>
      <div class="launchpad_case" id="lp_3"></div>
      <div class="launchpad_case" id="lp_4"></div>
      <div class="launchpad_case" id="lp_5"></div>
      <div class="launchpad_case" id="lp_6"></div>
      <div class="launchpad_case" id="lp_7"></div>
      <div class="launchpad_case" id="lp_8"></div>
      <div class="launchpad_case" id="lp_9"></div>
      <div class="launchpad_case" id="lp_10"></div>
      <div class="launchpad_case" id="lp_11"></div>
      <div class="launchpad_case" id="lp_12"></div>
      <div class="launchpad_case" id="lp_13"></div>
      <div class="launchpad_case" id="lp_14"></div>
      <div class="launchpad_case" id="lp_15"></div>
      <div class="launchpad_case" id="lp_16"></div>
    </div>
  </div>
</template>
<script>
    // Polymer({
    //   eventDelegates: {
    //     up: 'onChange'
    //   },
    //   onChange: function(){
    //     this.fire('valueChanged', {value: 'I am a value :)'});
    //   }
    // });
</script>
</polymer-element>
